@import "../../utils/scss/var.scss";

.ortadagiYozuv{
    right: 510px;
    top: 260px;
    position: absolute;
    font-weight: 600;
    color: #fff;
    background-color: #21303f;
    padding: 3px 12px;
    border-radius: 15px;

}